
.location{
	width: 50%;
	float:right;
	text-align:right;
}
#story-title{
	width: 50%;
	float:left;
}

.content-wrapper {
	padding: 1.8em !important;
}

.btn-contribution{
	background:#4FC3F7;
	border: 0 !important;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	padding:15px;
}

.btn-contribution:hover{
  box-shadow:
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 20px 40px rgba(255,255,255,0.15);
}

textarea{
	width:90%;
	padding: 15px;
	margin-top: 10px;
	border:1px solid #4FC3F7;
	border-radius:5px;
	margin-bottom: 20px;
	resize:none;
}

