*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, #main {
    background:#4FC3F7 !important;
}
.content-wrapper{
    padding: 4em !important;
}
.logo-book-icon h1 {
    padding: 0px !important;
}
.logo-book-icon img{
    padding: 10px;
    margin: 0 auto;
    width: 200px
}
.user-form {
    width: 500px;
    margin: 0px auto 30px;
    padding: 15px;
    position: relative;
    background: #fffaf6;
    border-radius: 4px;
    color: #4FC3F7;
}
.user-form h1 .sign-in {
    font-weight: bold;
    color: #4FC3F7;
    padding-right: 2px;
    display: inline-block;
    text-transform: uppercase;
}
.user-form .float {
    width: 50%;
    float: left;
    padding: 15px 0 10px 0;
    border-top: 1px solid rgba(255,255,255,1);
}
.user-form label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 12px;
}
.user-form input[type=text],
.user-form input[type=password] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #ebe6e2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.user-form input[type=text]:hover,
.user-form input[type=password]:hover {
    border-color: #CCC;
}
.user-form label:hover ~ input {
    border-color: #CCC;
}
.user-form input[type=text]:focus,
.user-form input[type=password]:focus {
    border: 2px solid #4FC3F7;
    outline: none;
}
.user-form input[type=submit],
.user-form .sign-facebook {
    height: 40px;
    float: left;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    font-weight: 300;
}
.user-form .sign-facebook {
    width: 100%;
    margin-right: 1%;
    background: #4FC3F7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}
.user-form input[type=submit] {
    margin-top: 5px;
    width: 35%;
    background: #fbd568;
    border: 1px solid #fbd568;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}
.user-form input[type=submit]:hover,
.user-form .sign-facebook:hover {
    box-shadow:
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 20px 40px rgba(255,255,255,0.15);
}
.user-form input[type=submit]:active,
.user-form .sign-facebook:active{
    top: 1px;
}
.clearfix {
    padding-top: 10px;
}
.register-title a{
    color: #4FC3F7;
}
@media only screen and (max-width: 575px){
    .user-form {
        width: 100%;
    }
}
