input.input-form {
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  border-color: #ccc;
  height: 25px;
  border: 1px solid #4FC3F7;
  transition: all 0.1s linear;
  width: 94%;
  line-height: 1.42857143;
  padding: 6px 15px;
  background-color: #fff;
}

.btn-contribution{
  width:150px !important;
  float: right;
}

form.form-control {
  margin: 0 0 10px 0;
  padding-top: 1em;
}

.cell-9 {
  width: 90%;
}
.cell-5 {
  width: 49%;
}

form.form-control > .group-form:last-child {
  margin-top: 40px;
}

#slider {
  position: relative;
}

.ui-slider {
  width: 100%;
  background: #428bca;
  border: 4px solid #788;
  border-radius: 3px;
  cursor: pointer;
  margin: 30px 0 0 30px;
}

.ui-slider a, .ui-slider a:focus {
  outline: none;
}

.ui-slider .ui-slider-handle label {
  background: #4FC3F7;
  border-radius: 20px;
  cursor: pointer;
  width: 4.2em;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 5.2em;
  margin: -18px -50px;
  text-align: center;
  line-height: 35px;
  color: #FFFFFF;
  font-size: 15px;
}

.row-left, .row-right {
  color: #FFFFFF;
}

@media only screen and (max-width: 870px) {
  .cell-5 {
    width: 47%;
  }
}
@media only screen and (max-width: 500px) {
  .cell-5 {
    width: 96%;
  }
  .cell-5.pull-right > p {
    margin-left: -18px;
    padding: 5px 5px 0 5px;
  }
  .ui-slider {
    width: 86.5%;
  }
}
