.content-wrapper {
  padding: 1.8em !important;
}

.post-wrapper,.post-wrapper ul li {
  border: 1px #4FC3F7 solid;
  border-radius: 10px;
}

#content {
	display: block;
	width: 100%;
	background: #fff;
	padding: 25px 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
#user-profile{
	width: 95.5%;
	margin: 0 auto;
}

#profile-title{
	text-align: center;
}

#userphoto {
	display: block;
	float: right;
	/*margin-left: 10px;*/
	margin-bottom: 8px;
}
#userphoto img {
	display: block;
	padding: 2px;
	background: #fff;
	max-width: 100px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

/** profile nav links **/
#profiletabs a {
    margin-left: 10px;
  	display: block;
  	float: left;
  	padding: 8px 5px;
  	font-weight: bold;
  	background: #eae8db;
  	color: #666;
  	border: 1px solid #fff;
  	border-radius: 5px;
  	border-bottom-left-radius: 0;
  	border-bottom-right-radius: 0;
}
#profiletabs a:hover {
  	text-decoration: none;
  	background: #dad7c2;
  	color: #565656;
}

#profiletabs a.sel {
  	background: #fff;
  	border: 1px #4FC3F7 solid;
}

.hidden {
  	display: none;
}
