html, body {
	height: 100%;
}
body {
	background-color: #FFFFFF;
	min-height: 100%;
}
.search-container {
	/*right: 2%;*/
	left: 50%;
  padding:10px 0 0 0;
}

.search-container input#search {
  background:red;
  width:40%;
}

.search-container input#search_submit {
  background:blue;
  height:30px;
  width:10%;
}

section.button-group {
  	height: 30px;
  	padding-top: 10px;
}
.btn-group {
  	margin: 0 auto;
  	text-align: center;
}

.btn{
	border-radius: 5px;
	font-size:15px;
	font-family:arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration:none;
	display:inline-block;
	color: #D94436;
	background-color: #4FC3F7;
}

.btn:hover{
  background-color: #4FC3F7;
}

.btn.btn_complete {
	color: #FFFFFF;
  background-color: #4FC3F7;
}
.btn.btn_complete:hover {
	 box-shadow:
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 20px 40px rgba(255,255,255,0.15);
}
.btn.btn-s {
	padding: 6px 10px 8px 10px;
}

.wrap { width: 100%;}
.pull-left { float: left; }
.pull-right { float: right; }
.clear { clear: both; }
.wrap > .italic { padding-top: 0.4em; float: left; }

.desc-column { display: inline-block; }
span.location { font-size: 0.7em; }
ul.show-hide > li > div.desc-column > p.desc {
	font-size: 0.95em;
	/*max-height: 3.6em;*/
  text-align: justify;
}
.disable.hide {
	display: none;
}

/* Tab Menu */
.tabs { padding-top: 10px; }
#centered-menu {
   margin: 0 auto;
   width:100%;
   overflow:hidden;
   position:relative;
   max-width: 1119px;
}
#centered-menu ul {
   display: inline-block;
   list-style:none;
   margin:0;
   padding:0;
   left:50%;
   text-align:center;
}
#centered-menu ul li {
   width:278px;
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding-top:5px;
   background: #FFFFFF;
}

#centered-menu ul li#completed a,
#centered-menu ul li#uncompleted a,
#centered-menu ul li#map a,
#centered-menu ul li#list a { /* Added this for rounded edges tabs */
   border:2px solid #4FC3F7;
   display:block;
   padding:3px 10px;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}

#centered-menu ul li#completed a,
#centered-menu ul li#list a{
  border-right:0px;
  border-radius: 10px 0px 0px 10px;
}

#centered-menu ul li#uncompleted a,
#centered-menu ul li#map a{
  border-left:0px;
  border-radius: 0px 10px 10px 0px;
}

#centered-menu ul li a:hover {
   color:#fff;
}
#centered-menu ul li a.active,
#centered-menu ul li a.active:hover {
   color:#fff !important;
   background:#4FC3F7;

}
.post-wrapper ul li{
<<<<<<< HEAD
  border-radius: 0 !important;
  padding: 0 !important;
=======
  border-radius: 10px !important;
>>>>>>> 07ff48e886b8e31d21cb9b6ad4cf2486eca6e803
}
  .post-wrapper ul li span.title {
    padding-bottom: 10px;
  }
  span.pull-right.title.color-red.location {
    padding-top: 10px;
  }
/* End tab menu */

@media only screen and (max-width: 767px) {
	.search-container {
		left: 25%;
		right: 22%;
	}
}

@media only screen and (max-width: 460px) {
	.search-container { left: 23%; }
}
@media only screen and (max-width: 650px) {
  #centered-menu {
    max-width:280px !important;
  }
  #centered-menu ul li#completed a,
  #centered-menu ul li#uncompleted a,
  #centered-menu ul li#map a,
  #centered-menu ul li#list a {
    border-radius: 10px 10px 10px 10px !important;
    border:2px solid #4FC3F7;
  }
}
@media only screen and (max-width: 1170px){
  #centered-menu {
    max-width:570px;
  }
}



/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Testing
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.main-story .container-story {
  padding: 0 100px 0 0;
  overflow: hidden;
}
.main-story{
  background:#f2f2f2;
  margin-top: 15px;
}

.content-story {
  float: left;
  width: 100%;
}
.sidebar {
  padding-top: 10px;
  float: right;
  margin-right: -100px;
  width: 100px;
  background-color: #4FC3F7;
  /*background-image: url(../images/add-contribution.png);*/
}
.content-story,
.sidebar {
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}
section{
  padding: 20px;
}
.sidebar img{
  width: 80px;
}

@media all and (max-width: 840px) {
  .main-story .container-story {
    padding: 0;
    overflow: visible;
  }
  .content-story {
    float: none;
  }
  .sidebar {
    float: none;
    margin-right: 0;
    width: 100%;
    background-color: #4FC3F7;
  }
  .sidebar img{
    width: 30px;
  }
  .content-story,
  .sidebar {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  section {
    padding: 10px 20px 0 20px;
    text-align: justify;
  }
}
