<!DOCTYPE html>
<html>
  <head>
    <title>Completed Story</title>
  </head>
  <body>
    <section id="main">
      <div class="content-wrapper tab" id="completed-story">
        <article>
          <div class="post-wrapper noCursor">
            <ul class="show-hide max-height">
              <li>
                <div class="desc-column">
                  <div class="wrap">
                    <span class="title color-red pull-left"></span>
                    <span class="pull-right title color-red location"></span>
                    <div class="clear"></div>
                  </div>
                  <div class="wrap">
                    <div class="well">
                      <hr>
                      <ul>
                          <li class="ui-state-default"></li>
                          </br>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
