<div class="content-wrapper">
        <article>
          <div class="post-wrapper noCursor">
            <ul class="max-height">
              <li>
                <div class="desc-column">
                  <span id="story-title" class="title color-red">Title Of Story</span>
                  <span class="title color-red location">Cambodia</span>
                </div>
                <div class="desc-column">
                  <p class="desc"> Once upon a time there was a pink elephant named jenny. She enjoyed walking around town until one day she came across a turtle. This turtle was not very nice to her and demanded for the elephant to hand over her money. </p>
                  <form method="POST" action="#">
                    <textarea cols="15" name="content" placeholder="Content" rows="5"></textarea>
                    <button class="btn-contribution" type="submit">Contribution</button>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </article>
      </div>
