<!DOCTYPE html>
<html>
  <head>
    <title>CorpseBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/trial-ajax.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Hello</h1>
    </div>
      <div>
        <h1>Sign In</h1>
        <div>
          <form class="sign-in" method="get" action="#">
            <input type="button" value="Facebook">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Submit">
          </form>
        </div>
    </div>
  </body>
</html>