<!DOCTYPE html>
<html>
<head>
  <title>CorpseBook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASTGMkY-19-J2LQ-yBPzm00LIMhjXi9Do"></script>

  <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">


  <script src="../javascripts/views/mapView.js"></script>
  <script src="../javascripts/models/mapModel.js"></script>
  <script src="../javascripts/views/contributionView.js"></script>
  <script src="../javascripts/models/contributionModel.js"></script>
  <script src="../javascripts/models/storyModel.js"></script>
  <script src="../javascripts/views/storyView.js"></script>
  <script src="../javascripts/views/appView.js"></script>
  <script src="../javascripts/controllers/mapController.js"></script>
  <script src="../javascripts/controllers/appController.js"></script>
  <script src="../javascripts/controllers/contributionController.js"></script>
  <script src="../javascripts/controllers/storyController.js"></script>
  <script src="../javascripts/application.js"></script>

</head>
  <body>
    <div id="navbar"></div>
    <div id='container'></div>
  </body>
</html>
