<!DOCTYPE html>
<html>
<head>
  <title>CorpseBook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASTGMkY-19-J2LQ-yBPzm00LIMhjXi9Do"></script>
  <script src="../javascripts/controller.js"></script>
  <script src="../javascripts/map.js"></script>
  <script src="../javascripts/view.js"></script>
  <script src="../javascripts/model.js"></script>
</head>
  <body>
    <div id='container'></div>
  </body>
</html>
