<!DOCTYPE html>
<html>
<head>
  <title>CorpseBook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
  <link rel="stylesheet" type="text/css" href="../css/sign-in.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/trial-ajax.js"></script>
  <script type="text/javascript" src="../javascripts/story.js"></script>
</head>
<body>
<section class="container">
  <div class="new-story">
    <h1>Create New Story</h1>
    <form enctype='application/json' class="new-story-form">
      <p><input type="text" name="story[title]" value="" placeholder="Title"></p>
      <p><input type="text" name="story[origin_latitude]" value="" placeholder="Latitude"></p>
      <p><input type="text" name="story[origin_longitude]" value="" placeholder="Longitude"></p>
      <select name="story[contribution_limit]">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
      <p class="submit"><input type="submit" value="Submit"></p>
    </form>
  </div>
</section>
</body>
</html>