<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" type="image/x-icon" href="images/book-icon.gif">
    <link href="stylesheets/custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/idangerous.swiper.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/stories.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <nav id="slideMenu">
      <ul>
        <li onClick="window.location.href = 'stories.html';">
          <div class="right"><span>Stories</span></div>
        </li>
        <li onClick="window.location.href = 'new_story.html';">
          <div class="right"><span>Create Story</span></div>
        </li>
        <li onClick="window.location.href = 'contribution.html';">
          <div class="right"><span>Contributions</span></div>
        </li>
        <li onClick="window.location.href = 'search.html';">
          <div class="right"><span>Search By Location</span></div>
        </li>
        <li onClick="window.location.href = 'profile.html';">
          <div class="right"><span>Profile</span></div>
        </li>
      </ul>
    </nav>
    <header id="logo">
      <div id="nav-button"></div>
      <div class="logo">
        <img src="images/bookicon.png">
        <span id='nav-text'>Gretel.</span>
      </div>
    </header>
    <section id="main">

    <div class="content-wrapper">
      <div class="tabs">
        <div id="centered-menu">
          <div class="search-container pull-right">
            <form class="search_by_location">
              <input id="search" name="search" type="text" placeholder="search bar">
              <input id="search_submit" value="" type="submit">
            </form>
          </div>
          <ul class="active2">
            <li id='list'><a href="#list" class="active">List</a></li>
            <li id='map'><a href="#map">Map</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clear"></div>
      <div class="content-wrapper tab" role="tabable" id="completed">
        <article>
          <div class="post-wrapper noCursor">
            <div class="main-story">
              <div class="container-story clearfix">
                <div class="content-story">
                  <section>
                    <div class="wrap">
                      <span class="title color-red pull-left"></span>
                      <span class="pull-right title color-red location"></span>
                      <div class="clear"></div>
                    </div>
                    <p class="desc"></p>
                  </section>
                </div>
                <div class="sidebar">
                  <center>
                    <a href="#"><img src="images/add-contribution.png"></a>
                  </center>
                </div>
              </div>
            </div><!-- #main -->
          </div>
        </article>
      </div>
      </div>
    </section>
  </body>
</html>
