<div class="content-wrapper tab" role="tabable" id="completed">
        <article>
          <div class="post-wrapper noCursor">
            <div class="main-story">
              <div class="container-story clearfix">
                <div class="content-story">
                  <section>
                    <div class="wrap">
                      <span class="title color-red pull-left"></span>
                      <span class="pull-right title color-red location"></span>
                      <div class="clear"></div>
                    </div>
                    <p class="desc"></p>
                  </section>
                </div>
                <div class="sidebar">
                  <center>
                    <a href="#"><img src="images/add-contribution.png"></a>
                  </center>
                </div>
              </div>
            </div><!-- #main -->
          </div>
        </article>
      </div>
