<!DOCTYPE html>
<html>
  <head>
    <title>CorpseBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/application.css">
    <link rel="stylesheet" type="text/css" href="../css/sign-in.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/application.js"></script>
    <script type="text/javascript" src="../javascripts/story.js"></script>
  </head>
  <body>
    <section class="container">
      <div class="story-list">
      </div>
     </section>
  </body>
</html>
